@{
    ViewBag.Title = "Playlist";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Playlist</h1>
    <a asp-controller="Admin" asp-action="UpsertPlaylist" class="d-none d-sm-inline-block btn btn btn-primary shadow-sm">
        <i class="fas fa-plus text-white-50"></i><b> Add playlist</b>
    </a>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of playlists</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Created by</th>
                        <th>Total songs</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Created by</th>
                        <th>Total songs</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td><img src="~/admin/img/defaultImg.png" width="100" height="120" /></td>
                        <td>My playlist</td>
                        <td>user1</td>
                        <td>10</td>
                        <td>
                            <a class="btn btn-outline-primary" href="">Edit</a>&nbsp;
                            <a class="btn btn-outline-danger" href="">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="~/admin/img/defaultImg.png" width="100" height="120" /></td>
                        <td>K-pop</td>
                        <td>user2</td>
                        <td>5</td>
                        <td>
                            <a class="btn btn-outline-primary" href="">Edit</a>&nbsp;
                            <a class="btn btn-outline-danger" href="">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>