@{
    ViewBag.Title = "Add artist";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Artist</h1>
    <a href="Genre" class="d-none d-sm-inline-block btn btn btn-primary shadow-sm">
        <i class="fas fa-long-arrow-alt-left text-white-50"></i><b> Back to list</b>
    </a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add artist</h6>
    </div>
    <div class="card-body">
        <form class="formArtist" id="formArtist">
            <div class="row">
                <div class="form-group col-lg-3 col-sm-6">
                    <div class="upload_img">
                        <img src="~/admin/img/noimg.webp" class="img_name" id="imgPreview" />
                        <input type="file" name="img_name" accept="image/*" class="form-control" placeholder="Upload your image" id="photo">
                    </div>
                </div>
                <div class="col-lg-9 col-sm-6">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Name">
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="edit-text" placeholder="Description" class="form-control" name="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
