@model L2M.Models.User
@{
}

<!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <h2>Đăng nhập</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Chào mừng bạn</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                            <form asp-action="Login" method="post">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter E-mail">
                                    <span asp-validation-for="Email" class="text-danger" ></span>
                                    <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    <span asp-validation-for="Password" class="text-danger" ></span>
                                </div>
                                <a asp-controller="Auth" asp-action="Signup" type="button" class="btn oneMusic-btn mt-15">Đăng ký</a>
                                <button type="submit" class="btn oneMusic-btn mt-15">Đăng nhập</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Login Area End ##### -->
