@model L2M.Models.Artist
@{
    ViewBag.Title = "Thông tin ca sĩ";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Ca sĩ</h1>
    <a asp-controller="Artists" asp-action="Index" asp-area="Admin" class="d-none d-sm-inline-block btn btn btn-primary shadow-sm">
        <i class="fas fa-long-arrow-alt-left text-white-50"></i><b> Quay trở lại</b>
    </a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thông tin ca sĩ</h6>
    </div>
    <div class="card-body">
        <form asp-action="Edit" class="formArtist" id="formArtist" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-lg-3 col-sm-6">
                    <div class="upload_img">
                        <img src="@Url.Content(@Model.ImgUrl)" class="img_name" id="imgPreview" />
                        <input type="file" asp-for="ImgUrl" accept="image/*" class="form-control" placeholder="Tải lên hình ảnh" id="photo">
                    </div>
                </div>
                <div class="col-lg-9 col-sm-6">
                    <div class="form-group">
                        <label asp-for="Name">Tên ca sĩ</label>
                        <input type="text" asp-for="Name" class="form-control" placeholder="Tên ca sĩ">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description">Mô tả</label>
                        <textarea asp-for="Description" id="edit-text" placeholder="Mô tả" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Cập nhật</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
