@model L2M.Models.Album
@{
    ViewBag.Title = "Chỉnh sửa Album";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Album</h1>
    <a asp-controller="Albums" asp-action="Index" class="d-none d-sm-inline-block btn btn btn-primary shadow-sm">
        <i class="fas fa-long-arrow-alt-left text-white-50"></i><b> Quay trở lại</b>
    </a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Chỉnh sửa album</h6>
    </div>
    <div class="card-body">
        <form class="formAlbum" id="formAlbum">
            <div class="row">
                <div class="form-group col-lg-3 col-sm-6">
                    <div class="upload_img">
                        <img src="~/admin/img/noimg.webp" class="img_name" id="imgPreview" />
                        <input type="file" name="img_name" accept="image/*" class="form-control" placeholder="Tải lên ảnh bìa album" id="photo">
                    </div>
                </div>
                <div class="col-lg-9 col-sm-6">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="title">Tên album</label>
                            <input type="text" name="title" class="form-control" placeholder="Tên album">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label for="artist">Ca sĩ</label><br />
                            <select id="artist-select" class="custom-select" name="artist[]" multiple="multiple">
                                <option value="O1" data-badge="">Option1</option>
                                <option value="O2" data-badge="">Option2</option>
                                <option value="O3" data-badge="">Option3</option>
                                <option value="O4" data-badge="">Option4</option>
                                <option value="O5" data-badge="">Option5</option>
                                <option value="O6" data-badge="">Option6</option>
                                <option value="O7" data-badge="">Option7</option>
                                <option value="O8" data-badge="">Option8</option>
                                <option value="O9" data-badge="">Option9</option>
                                <option value="O10" data-badge="">Option10</option>
                                <option value="O11" data-badge="">Option11</option>
                                <option value="O12" data-badge="">Option12</option>
                                <option value="O13" data-badge="">Option13</option>
                            </select>
                        </div>

                        <div class="form-group col-6">
                            <label for="type">Loại</label>
                            <select name="type" class="custom-select">
                                <option selected>Chọn loại đĩa</option>
                                <option value="album">Album</option>
                                <option value="ep">Ep</option>
                                <option value="single">Single</option>
                            </select>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label for="date_release">Ngày phát hành</label>
                            <input asp-for="Date_Release" class="form-control" />
                            <span asp-validation-for="Date_Release" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Lưu</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tải lên các bài hát trong album</h6>
    </div>
    <div class="card-body">
        <div class="file-upload row">
            <div class="col-6">
                <input type="file" name="fileAudio" value="" class="form-control" onchange="PreviewAudio(this, $('#audioPreview'))" multiple />
            </div>
            <div class="col-6">
                <audio controls="controls" id="audioPreview" style="display:none">
                    <source src="" type="audio/mp4" />
                </audio>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Lưu</button>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách các bài hát trong album</h6>
    </div>
    <div class="card-body">
        <div class="searchSong">
            <input class="form-control" id="searchSongInput" type="text" placeholder="Tìm bài hát muốn thêm vào album">
            <table class="table table-borderless table-hover">
                <tbody id="tableSong">
                    <tr>
                        <td><img src="~/admin/img/defaultImg.png" width="60" height="60" /></td>
                        <td>BlackPink</td>
                        <td class="text-right"><a href="" class="btn btn-primary">Thêm vào album</a></td>
                    </tr>
                    <tr>
                        <td><img src="~/admin/img/defaultImg.png" width="60" height="60" /></td>
                        <td>Moe</td>
                        <td class="text-right"><a href="" class="btn btn-primary">Thêm vào album</a></td>
                    </tr>
                    <tr>
                        <td><img src="~/admin/img/defaultImg.png" width="60" height="60" /></td>
                        <td>Dooley</td>
                        <td class="text-right"><a href="" class="btn btn-primary">Thêm vào album</a></td>
                    </tr>
                    <tr>
                        <td><img src="~/admin/img/defaultImg.png" width="60" height="60" /></td>
                        <td>Ravendale</td>
                        <td class="text-right"><a href="" class="btn btn-primary">Thêm vào album</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="list-song">
            <div class="table-responsive">
                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ảnh bìa</th>
                            <th>Tên bài hát</th>
                            <th>Album</th>
                            <th></th>
                            <th>Tác vụ</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Ảnh bìa</th>
                            <th>Tên bài hát</th>
                            <th>Album</th>
                            <th></th>
                            <th>Tác vụ</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td><img src="~/admin/img/defaultImg.png" width="100" height="120" /></td>
                            <td>How you like that</td>
                            <td>The Album</td>
                            <td>
                                <audio controls="controls">
                                    <source src="~/admin/music/Thằng Điên_JustaTee, Phương Ly_-1078239770.mp3" type="audio/mp4" />
                                </audio>
                            </td>
                            <td>
                                <a class="text-primary mr-lg-2" href=""><i class="fas fa-edit"></i></a>&nbsp;
                                <a class="text-danger" href=""><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="~/admin/img/defaultImg.png" width="100" height="120" /></td>
                            <td>Pretty Savage</td>
                            <td>The Album</td>
                            <td>
                                <audio controls="controls">
                                    <source src="~/admin/music/Thằng Điên_JustaTee, Phương Ly_-1078239770.mp3" type="audio/mp4" />
                                </audio>
                            </td>
                            <td>
                                <a class="text-primary mr-lg-2" href=""><i class="fas fa-edit"></i></a>&nbsp;
                                <a class="text-danger" href=""><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
